<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">

<body>
	<h2>Login Page</h2>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>
	<form th:action="@{/login}" method="post">
		<div>
			<label> User Name : <input type="text" name="username"
				value="venki@gmail.com" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="password"
				value="pass" />
			</label>
		</div>
		<div>
			<input type="submit" value="Sign In" />
		</div>
	</form>
	<br/>
	<p>If you are a first time visitor please complete the registration <a href="/register">here</a></p>
</body>
</html>