<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">

<body>
	<div class="panel panel-default" style="margin-top: 200px; width: 250px;">
		<div class="panel-body">
			<div th:if="${param.error}">Invalid username and password.</div>
			<div th:if="${param.logout}">You have been logged out.</div>
			<form th:action="@{/login}" method="post" class="form">
				<div class="form-group">
					<label> User Name : <input type="text" name="username"
						value="venki@gmail.com" class="form-control" />
					</label>
				</div>
				<div>
					<label> Password: <input class="form-control" type="password" name="password"
						value="pass" />
					</label>
				</div>
				<div class="g-recaptcha" data-sitekey="6Lf_Xg4UAAAAAPTIMYR3y88JpveELhgR_8f3Foti"></div>
				<div class="form-group" style="margin-top: 20px;">
					<input type="submit" value="Sign In" class="btn btn-primary pull-right"/>
				</div>
			</form>
			<br />
			<hr />
		</div>
		<div class="panel-footer text-center">
			<p>
				<a href="/register" class="btn btn-default">I want to register now</a>
			</p>
		</div>
	</div>
	<script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>