<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/loggedlayout:: loggedlayout (~{::body}, 'profile')}">
<body>
	<div class="panel panel-default"
		style="margin-top: 150px; width: 300px;">
		<div class="panel-heading text-center">
			<h2 class="text-primary">Edit Profile</h2>
		</div>
		<div class="panel-body">
			<div th:if="${error}">
				<h2 class="text-warning">
					Error: <span th:text="${error}"></span>
				</h2>
			</div>
			<div th:if="${updatedUser}">
				<p class="text-success">Your profile got updated successfully</p>
			</div>
			<form action="#" th:action="@{/profile}" method="POST" class="form"
				th:object="${user}">
				<input type="hidden" th:field="*{id}" name="id" />
				<div class="form-group">
					<label> Name : <input type="text" name="name"
						th:field="*{name}" class="form-control" />
					</label>
				</div>
				<div class="form-group">
					<label> User Type : <select name="userType" class="form-control"
						th:field="*{userType}"><option value="Teacher">Teacher</option>
							<option value="Student">Student</option></select>
					</label>
				</div>
				<div class="form-group">
					<label> Date of Birth : <input type="date" class="form-control"
						name="dateOfBirth" th:field="*{dateOfBirth}" />
					</label>
				</div>
				<div class="form-group">
					<label> Email : <input type="text" name="email" class="form-control"
						th:field="*{email}" />
					</label>
				</div>
				<div class="form-group">
					<label> Password: <input type="password" name="password" class="form-control"
						th:field="*{password}" />
					</label>
				</div>
				<div class="form-group">
					<input type="submit" value="Edit Profile" class="btn btn-primary pull-right" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>