<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<h2 class="text-primary">Registration Page</h2>
		</div>
		<div class="panel-body">
			<div th:if="${error}" class="text-warning">
				<h2>
					Error: <span th:text="${error}"></span>
				</h2>
			</div>
			<div th:if="${registeredUser}" class="text-success">
				<h2>User registration successful</h2>
			</div>
			<form action="#" th:action="@{/register}" method="POST" class="form"
				th:object="${user}">
				<div class="form-group">
					<label for="name"> Name : </label>
					<input type="text" name="name" class="form-control"
						th:field="*{name}" />
				</div>
				<div class="form-group">
					<label for="userType"> User Type : </label>
					<select name="userType" class="form-control"
						th:field="*{userType}"><option value="Teacher">Teacher</option>
							<option value="Student">Student</option></select>
				</div>
				<div class="form-group">
					<label for="dateOfBirth"> Date of Birth : </label>
					<input type="date" class="form-control"
						name="dateOfBirth" th:field="*{dateOfBirth}" />
				</div>
				<div class="form-group">
					<label for="email"> Email : </label><input type="text" name="email" class="form-control"
						th:field="*{email}" />
				</div>
				<div class="form-group">
					<label for="password"> Password: </label>
					<input name="password" type="password" class="form-control"
						value="pass" th:field="*{password}" />
				</div>
				<hr/>
				<div class="g-recaptcha" data-sitekey="6Lf_Xg4UAAAAAPTIMYR3y88JpveELhgR_8f3Foti"></div>
				<div class="form-group" style="margin-top: 20px;">
					<input type="submit" value="Sign Up" class="btn btn-primary" style="margin-right: 10px;"/><input type="reset"
						value="Reset"  class="btn btn-default pull-right" style="margin-right: 10px;"/>
				</div>
			</form>
		</div>
		<div class="panel-footer text-center">
		<a type="button" href="/login" class="btn btn-success">I want to login</a>
		</div>
	</div>
	<script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>